.heading{
    color:brown;
    margin-left: 20%;
    font-size: 45px;
}
.score{
    color:green;
    margin-left: 35%;
    font-size: 35px;
}
.block{
    display: flex;
    margin-left: 300px;
}
.block1{
    border:solid 1px black;
    width:350px;
    height: 300px;
}
.block2{
    border:solid 1px white;
    width: 350px;
    height: 300px;
    margin-left: 250px;
}
.image1{
    width: 400px;
    height: 400px;
}